<div id="contact" class="paddsection">
    <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><span ><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Kolkata,West Bengal</span></h5>
          </div>
        </div>

        <div class="card">
            <div class="card-body">
              <h5 class="card-title"><span ><i class="fa fa-phone"></i>&nbsp;&nbsp;+91 9674173309</span></h5>
            </div>
        </div>

        <div class="card">
              <div class="card-body">
                <h5 class="card-title"><span ><i class="fa fa-envelope"></i>&nbsp;&nbsp;Aritra.Chowdhury2@cognizant.com</span></h5>
              </div>
        </div>
      </div>
      <div class=text-center>
        <a href="https://drive.google.com/file/d/1aYDgHCO0vNq-j_RwLDJUyy4p0AlSPL6w/view?usp=sharing" class="btn btn-primary"><i class="fa fa-arrow-alt-circle-down"></i>MY RESUME</a>
      </div>
</div>
 
