<div class="portfolio-container">
    <div class="card-deck">
        <div class="flip-card " >
            <div class="flip-card-inner 1">
                  <div class="card flip-card-front">
                      <img class="card-img-top project-image" src="https://us.123rf.com/450wm/olegdudko/olegdudko1508/olegdudko150809663/43833281-shopping-.jpg?ver=6" alt="Card image cap">
                      <div class="card-body text-center">
                        <h5 class="card-title">Medicine Store Management</h5>
                        <p class="project-details">Created with JDBC,JSP,Servlets,HTML, CSS,Bootstrap</p>
                        <div class="space-fill">
                            <a  class="btn btn-primary" (click)="flip(1)">Read more</a>
                        </div>
                        
                      </div>
                  </div>
                  <div class="card flip-card-back">
                      <div class="card-body text-center back-body">
                        <h5 class="card-title">Online Medicine Store Management</h5>
                        <p class="project-details">A portal which helps a medicine shop admin to keep a trace of the stocks, generate bill and calculate the turn over</p>
                        <div class="space-fill">
                            <a  class="btn btn-primary" (click)="flip(1)">Read less</a>
                        </div>
                      </div>
                      <div class="card-footer text-center">
                          <strong>Duration :</strong><small class="text-muted">2 weeks</small>
                        </div>
                  </div> 
    
            </div>
          </div>
    
          <div class="flip-card" >
              <div class="flip-card-inner 2">
                    <div class="card flip-card-front">
                        <img class="card-img-top project-image" src="https://cassso.cognizant.com/images/EASLoginBg.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                          <h5 class="card-title">Cognizant VLearn</h5>
                          <p class="project-details">Created with Spring boot,Hibernate,Angular 6,JWT,Bootstrap,HTML5</p>
                          <div class="space-fill">
                              <a  class="btn btn-primary" (click)="flip(2)">Read more</a>
                          </div>
                        </div>
                    </div>
                    <div class="card flip-card-back">
                        <div class="card-body text-center back-body">
                          <h5 class="card-title">Cognizant VLearn</h5>
                          <p class="project-details">An internal e-learning platform for all cognizant employees (specially focused on trainees) where an SME can set the path for completing a course.</p>
                          <div class="space-fill">
                              <a  class="btn btn-primary" (click)="flip(2)">Read less</a>
                          </div>
                        </div>
                        <div class="card-footer text-center">
                            <strong>Duration :</strong><small class="text-muted">4 weeks</small>
                        </div>
                    </div> 
      
              </div>
            </div>
    
    
            <div class="flip-card" >
                <div class="flip-card-inner 3">
                      <div class="card flip-card-front">
                          <img class="card-img-top project-image" src="https://i.kinja-img.com/gawker-media/image/upload/t_original/gxutlwj9kvpmhmquz2c7.png" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title">Movie Cruiser Application</h5>
                            <p class="project-details">Created with Spring boot,Hibernate,Angular 6,JWT,Mockito & Junit testing</p>
                            <div class="space-fill">
                                <a  class="btn btn-primary" (click)="flip(3)">Read more</a>
                            </div>
                          </div>
                      </div>
                      <div class="card flip-card-back">
                          <div class="card-body text-center back-body">
                            <h5 class="card-title">Movie Cruiser Application</h5>
                            <p class="project-details">An application which uses the TMDB api to get the list of movies and the user can maintain thier watch list.Used Dockerization and CI/CD.</p>
                            <div class="space-fill">
                                <a  class="btn btn-primary" (click)="flip(3)">Read less</a>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                              <strong>Duration :</strong><small class="text-muted">2 weeks</small>
                          </div>
                      </div> 
        
                </div>
              </div>
    
              <div class="flip-card" >
                  <div class="flip-card-inner 4">
                        <div class="card flip-card-front">
                            <img class="card-img-top project-image" src="https://www.nebraskapta.org/s/cc_images/teaserbox_954157418.jpg?t=1538582346" alt="Card image cap">
                            <div class="card-body text-center">
                              <h5 class="card-title">eLearning</h5>
                              <p class="project-details">Created with Spring boot,Hibernate,Angular 6,Bootstrap</p>
                              <div class="space-fill">
                                  <a  class="btn btn-primary" (click)="flip(4)">Read more</a>
                              </div>
                            </div>
                        </div>
                        <div class="card flip-card-back">
                            <div class="card-body text-center back-body">
                              <h5 class="card-title">eLearning</h5>
                              <p class="project-details">A platform to replace the usual way of online examination is school with an online platform where student can participate in an exam view completion and Innovator level.</p>
                              <div class="space-fill">
                                  <a  class="btn btn-primary" (click)="flip(4)">Read less</a>
                              </div>
                            </div>
                            <div class="card-footer text-center">
                                <strong>Duration :</strong><small class="text-muted">2 weeks</small>
                            </div>
                        </div> 
          
                  </div>
                </div>
    
    
                
              <div class="flip-card" >
                  <div class="flip-card-inner 5">
                        <div class="card flip-card-front">
                            <img class="card-img-top project-image" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201603/aqi-650_041415094525.jpg" alt="Card image cap">
                            <div class="card-body text-center">
                              <h5 class="card-title">Air watcher</h5>
                              <p class="project-details">Created with Spring boot,Hibernate,Angular 6,Angular material,JWT,Mockito testing</p>
                              <div class="space-fill">
                                  <a  class="btn btn-primary" (click)="flip(5)">Read More</a>
                              </div>
                            </div>
                        </div>
                        <div class="card flip-card-back">
                            <div class="card-body text-center back-body">
                              <h5 class="card-title">Air watcher</h5>
                              <p class="project-details">A system which fetches the air quality index based on city from the AirWatch api which helps a user to keep track of the AQI base on country, state and city.</p>
                              <div class="space-fill">
                                  <a  class="btn btn-primary" (click)="flip(5)">Read less</a>
                              </div>
                            </div>
                            <div class="card-footer text-center">
                                <strong>Duration :</strong><small class="text-muted">2 weeks</small>
                            </div>
                        </div> 
          
                  </div>
                </div>

                <div class="flip-card " >
                    <div class="flip-card-inner 6">
                          <div class="card flip-card-front">
                              <img class="card-img-top project-image" src="https://wiskbycakesmiths.files.wordpress.com/2015/04/shutterstock_176646242.jpg" alt="Card image cap">
                              <div class="card-body text-center">
                                <h5 class="card-title">Online bakery shop</h5>
                                <p class="project-details">Created with JDBC,JSP,Servlets,HTML, CSS,Bootstrap</p>
                                <div class="space-fill">
                                    <a  class="btn btn-primary" (click)="flip(6)">Read more</a>
                                </div>
                                
                              </div>
                          </div>
                          <div class="card flip-card-back">
                              <div class="card-body text-center back-body">
                                <h5 class="card-title">Online bakery shop</h5>
                                <p class="project-details">A bakery online portal where a customer can pick some bakery items and order it to a particular address.</p>
                                <div class="space-fill">
                                    <a  class="btn btn-primary" (click)="flip(6)">Read less</a>
                                </div>
                              </div>
                              <div class="card-footer text-center">
                                  <strong>Duration :</strong><small class="text-muted">4 weeks</small>
                                </div>
                          </div> 
            
                    </div>
                  </div>
    
    
    </div>
    

</div>



