<div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

          <ul class="list-unstyled list-social">
              <li><a href="https://www.linkedin.com/in/aritra-chowdhury/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://code.cognizant.com/737002"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.facebook.com/aritrachowdhury17"><i class="fa fa-facebook-f"></i></a></li>
          </ul>

      </div>

      <p>&copy; Copyrights Aritra. All rights reserved.</p>

    </div>
  </div>