<nav id="main-nav" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <img src="assets/image/my-picture.png" class="logo img-responsive" >&nbsp;&nbsp;
      <a class="navbar-brand" href="#header">
        ARITRA</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 items">
        <li class="nav-item " id="edu">
          <a class="nav-link"  href="#education" (click)="clicked('edu')">EDUCATION</a>
        </li>
        <li class="nav-item" id="sk">
          <a class="nav-link"  href="#skill" (click)="clicked('sk')">SKILL</a>
        </li>
        <li class="nav-item" id="pf">
            <a class="nav-link"  href="#portfolio" (click)="clicked('pf')">PORTFOLIO</a>
          </li>
          <li class="nav-item" id="achive">
              <a class="nav-link"  href="#achievements" (click)="clicked('achive')">ACHIEVEMENTS</a>
            </li>
            <li class="nav-item" id="cn">
                <a class="nav-link"  href="#contact"(click)="clicked('cn')" >CONTACT</a>
              </li>
        
      </ul>
    </div>
  </nav>
  <div id="header">
    <app-top></app-top>
  </div>

  <div id="education">
    <h2 class="section_header">EDUCATION</h2>
    <hr class="priamary">
    <app-education></app-education>
  </div>

  <div id="skill">
    <h2 class="section_header">SKILLS</h2>
    <hr class="priamary">
    <app-skills></app-skills>
  </div>

  <div id="portfolio">
    <h2 class="section_header">PORTFOLIO</h2>
    <hr class="priamary">
     <app-portfolio></app-portfolio>
  </div> 

  <div id="achievements">
    <h2 class="section_header">ACHIEVEMENTS</h2>
    <hr class="priamary">
    <app-achievements></app-achievements>
  </div>

  <div>
      <h2 class="section_header">GET IN TOUCH</h2>
      <hr class="priamary">
    <app-contact></app-contact>
  </div>
  
  <app-footer></app-footer>
  
  
  
 
  
  
