.card{
    border: none;
}
.card-title{
    text-align: center;
}

.responsibility{
    color: #f54957
}

.achievements{
    color:#1ebad0
}

.hobbies{
    color:#7cba01
}

.img-card{

    width: 70%;
    MARGIN-LEFT: 15%;
}
