<div class="home">
  <div class="container">
    <div class="header-content">

       <div class="row type1">
        <div class="col-3">
            <img src="assets/image/my-picture.png" class="img-responsive" height="200" width="200" alt="img">
            <ul class="list-unstyled list-social">
                <li><a href="https://www.linkedin.com/in/aritra-chowdhury/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://code.cognizant.com/737002"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.facebook.com/aritrachowdhury17"><i class="fa fa-facebook-f"></i></a></li>
              </ul>
        </div> 
        <div class="col-8">
            <h1>I'm Aritra Chowdhury</h1>
            <p>Certified Java Full Stack Engineer</p>
            <h4>Career Objective</h4>
            <p><span class="typed"></span></p>    
                   
        </div> 
      </div> 


      <div class="type2">
        <div class="profile-img">
            <img src="assets/image/my-picture.png" class="img-responsive" height="200" width="200" alt="img">
            <ul class="list-unstyled list-social">
                <li><a href="https://www.linkedin.com/in/aritra-chowdhury/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://code.cognizant.com/737002"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.facebook.com/aritrachowdhury17"><i class="fa fa-facebook-f"></i></a></li>
              </ul>
        </div>
        <div class="profile-display">
            <h1>I'm Aritra Chowdhury</h1>
            <p>Certified Java Full Stack Engineer</p>
            <h4>Career Objective</h4>
            <p><span class="typedmb"></span></p>  
                
        </div>


      </div>
    </div>
  </div>
</div>