<div  class="container">
    
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2019</span>
                        <div class="inner-content">
                            <h3 class="title">FSE certification</h3>
                            <p class="description">
                                Completed my FSE certification from StackRoute aftersix months of Java Full Stack Training in Cognizant.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2018</span>
                        <div class="inner-content">
                            <h3 class="title">Btech in IT</h3>
                            <p class="description">
                                Completed my Btech in Information Technology from Future Institute Of Engineering and Management,Kolkata with an aggregate of 85.6%.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2014</span>
                        <div class="inner-content">
                            <h3 class="title">ISC</h3>
                            <p class="description">
                                Completed my ISCE from St. Jude's High School,Kolkata with an aggregate of 89.8%.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="year">2012</span>
                        <div class="inner-content">
                            <h3 class="title">ICSE</h3>
                            <p class="description">
                              Completed my ISCE from Monalisa English School,Kolkata with an aggregate of 85.6%.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>