<div  class="container-fluid skill-div">
    <div class="card-deck">
        <div class="card">
          <div class="card-img-top">
              <canvas id="Frontend">{{chart}}</canvas>   
          </div>
          <div class="card-body">
            <h5 class="card-title frontEnd-header">Frontend</h5>
            <p class="card-text">Angular6, HTML5, CSS, Bootstrap, Angular Material.</p>
          </div>
        </div>




        <div class="card">
          <div class="card-img-top">
              <canvas id="Backend">{{chart}}</canvas> 
          </div>
          <div class="card-body">
            <h5 class="card-title backEnd-header">Backend</h5>
            <p class="card-text">SpringBoot, SpringMVC, Hibernate, JPA repository, RestApi,Microservices </p>
          </div>
        </div>

        <div class="card">
            <div class="card-img-top">
                <canvas id="Database">{{chart}}</canvas>   
              </div>
          <div class="card-body">
            <h5 class="card-title database-header">Database</h5>
            <p class="card-text">Mysql</p>
          </div>
        </div>
      </div>
</div>
