.skill-div{
    width: 90vw;
}

.frontEnd-header{
    text-align: center;
    color: #f8781f;
}


.backEnd-header{
    text-align: center;
    color: #7cba01;
}

.database-header{
    text-align: center;
    color: #000033;
}

.card-text{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 15px;
}

.card{
    background-color: TRANSPARENT;
    border: none;
}